# Target System
CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y

# Subtarget
CONFIG_TARGET_ramips_mt7621_DEVICE_e20c=y

# Target Profile
CONFIG_TARGET_ramips_mt7621_DEVICE_e20c_DEVICE_e20c=y

# Image Configuration
CONFIG_TARGET_ramips_mt7621_DEVICE_e20c_DEVICE_e20c_IMAGES=y

# Kernel modules
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-storage=y

# LuCI
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-opkg=y

# Theme
CONFIG_PACKAGE_luci-theme-bootstrap=y
